@import 'assets/css/styles';

.main-navigation {
	@include sticky-bottom();
}

.main-navigation__list {
	list-style: none;
}

.main-navigation__item {
	@include margin-r();
	display: inline;
	
	&:last-of-type {
		margin-right: 0;
	}
	
}

.main-navigation__button {
	@include no-padding();
	@include strong();
	background: 0;
	border: 0;
	color: palette(primary, b);
	cursor: pointer;
}